# Editor configuration, see http://editorconfig.org
root = true

# Use this where possible, only add things to .prettierrc if it can't be done using this file

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
